<div class="container-fluid sign-in-container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="sign-in-box">
                <div class="sign-in-title">
                    <app-auth-title [title]="title"></app-auth-title>
                </div>
                <div>
                    <app-common-form [buttonTitle]="title" [fields]="formFields" (submit)="submit($event)"></app-common-form>
                </div>
                <div class="sign-in-forgot-text">
                    <app-auth-text [text]="forgotText" [link]="forgotLink"></app-auth-text>
                </div>
                <div class="sign-in-sign-up-text">
                    <app-auth-text [text]="signUpQuestion"></app-auth-text>
                    <app-auth-text [text]="signUpLinkText" [link]="signUpLink" class="sign-up-link"></app-auth-text>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div>
                <app-common-image></app-common-image>
            </div>
        </div>
    </div>
</div>
