@import '../../../../assets/style/common.scss';

.sign-in-container{
    margin-top: 10%;
    
    .sign-in-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40%;

        @media screen and (max-width: 767px) {
            padding-left: 0;
        }
    }
}