@import '../../../../assets/style/common.scss';

.sign-in-container{
    margin-top: 10%;
    
    .sign-in-box{
        display: flex;
        flex-direction: row;
        justify-content: center;

        img{
            width: 100%;
            height: 100%;
        }

        .sign-in-title{
            color: $base-drak-grey;
            font-size: 30px;
        }
    }
}